<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
    	
        <setting name="logImpl" value="STDOUT_LOGGING" />
        
        <setting name="cacheEnabled" value="true" />
    </settings>
    <plugins>
        <!--注意这里要写成PageInterceptor, 5.0之前的版本都是写PageHelper, 5.0之后要换成PageInterceptor-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
        	<!-- 
            <property name="helperDialect" value="mysql" />
             -->
            <property name="reasonable" value="true" />
	        <property name="offsetAsPageNum" value="false"/>
	        <property name="rowBoundsWithCount" value="false"/>
	        <property name="pageSizeZero" value="true"/>
	        <property name="reasonable" value="false"/>
	        <property name="supportMethodsArguments" value="false"/>
	        <property name="returnPageInfo" value="none"/>
        </plugin>
    </plugins>
</configuration>